@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'sf';
  src: url('font/SFUIDisplay-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf';
  src: url('font/SFUIDisplay-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'sf';
  src: url('font/SFUIDisplay-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  font-family: 'sf', 'Noto Sans JP', sans-serif;
  height: 85vh;
  position: relative;
}

.frame {
  position: absolute;
  width: 100vw;
  height: 85vh;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 500;
  text-align: center;
  pointer-events: none;
}

.fr {
  width: 85vw;
  height: 85vh;
}

#box {
  position: absolute;
  width: 82vw;
  height: 85vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  background-image: url(lockwp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#status {
  overflow: hidden;
  padding: 4vh 6vw 2vh 6vw;
  letter-spacing: 0.1em;
}

#career {
  font-size: 2.5vw;
  float: left;
  font-weight: bold;
}

#ind {
  font-size: 2.75vw;
  float: right;
  padding-right: 0;
}

#ind i {
  padding: 0 0.075em;
}

#lock {
  text-align: center;
  letter-spacing: 0.1em;

}

#lock i {
  font-size: 10vw;
}

#clock {
  padding-top: 1vh;
  font-size: 17.5vw;
  font-weight: lighter;
}

#date {
  font-size: 5vw;
  font-weight: lighter;
}

#stu {
  position: absolute;
  bottom: 3.5vh;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 4vw;
  font-weight: bold;
}

#navibar {
  position: absolute;
  bottom: 3vh;
  width: 50vmin;
  height: 0.75vh;
  text-align: center;
  left: calc(50% - 25vmin);
  border-radius: 10px;
  background-color: white;
}